<div class="product" [attr.units-available]="product.unitAvailable">
    <div class="product--image">
        <!-- <img
            [src]= "product.image"
            [alt]= "product.name"> -->
        <img
            [attr.src]= "product.image"
            [alt]= "product.name"
            [style.border]="'1px solid black'">
    </div>
    <div class="product--info">
        <h1 class="product--info__title">{{product.name}}</h1>
        <p class="product--info__description"> {{product.description}}</p>
    </div>
    <div class="product--actions">
        <button [disabled]="!(product.unitAvailable > 1)" class="product--actions__btn buy">BUY</button>
        <button class="product--actions__btn add">+ CART</button>
    </div>
</div>